[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/hazevich/stb
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/hazevich/glm
